//-		mixin googleAnalytics({
//-			code : <Google Analytics ID>,
//-			egar : <BOOLEAN optional>
//-		})

mixin googleAnalytics (options)
	if options.egar
		script(type="text/javascript")
			var _gaq = [['_setAccount', '#{options.code}'], ['_trackPageview']];
			(function(d, t){
				var g = d.createElement(t),
				s = d.getElementsByTagName(t)[0];
				g.src = '//www.google-analytics.com/ga.js';
				s.parentNode.insertBefore(g, s);
			}(document, 'script'));
	else 
		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '#{options.code}']);
			_gaq.push(['_trackPageview']);
			(function() { 
				var ga = document.createElement('script'); 
				ga.type = 'text/javascript'; 
				ga.async = true; 
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; 
				var s = document.getElementsByTagName('script')[0]; 
				s.parentNode.insertBefore(ga, s); 
			})();			