include mixins/metaItems
include mixins/mobile
include mixins/googleAnalytics
include mixins/facebook

!!! 5
html
	head
		title pageName | siteName

		// Meta Items
		mixin metaItems({ allowIE8 : true, author : 'Isaac Shapira', title : 'page title', description : 'page description', designer : 'Isaac Shapira', copyright : 'some company'})
		
		// Mobile
		mixin mobile({ apple : '/path/to/icons', viewport : 'width:1000' })

		// facebook
		mixin facebook({ title : 'title for facebook', description : 'description html for facebook', image : 'path/to/image.jpg' })

		// Google Analytics 
		mixin googleAnalytics({ code : 'UA-XXXXX-XX', egar : true })

	body(itemscope='itemscope',itemtype='http://schema.org/WebPage')

		// content